
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.github.project_title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% if site.author %}
        <ul class="contact-list">
          {% if site.author.name %}
            <li class="p-name">
                {{ site.author.name | escape }}
            </li>
          {% endif %}
          {% if site.author.email %}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.github.project_tagline | escape -}}</p>
      </div>
    </div>

  </div>
</footer>